#include "DirectBase.xcconfig"

FLICKSY_APP_STORE_URL =
FLICKSY_DISPLAY_NAME = Flicksy
PRODUCT_BUNDLE_IDENTIFIER = me.flicksy.app
PRODUCT_NAME = Flicksy
SPARKLE_FEED_URL = https:/$()/flicksy.me/updates/appcast.xml
SPARKLE_PUBLIC_ED_KEY = ckHwXME7JqLDwjpElDM/xhgZ6tGSvBQgCInPdp634Ao=
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DIRECT_DISTRIBUTION $(inherited)
