#include "DirectBase.xcconfig"

FLICKSY_CHECKOUT_URL = https:/$()/flicksy.me/buy?source=app
FLICKSY_DISPLAY_NAME = Flicksy
FLICKSY_LICENSE_API_URL = https:/$()/flicksy.me/api/licenses
PRODUCT_BUNDLE_IDENTIFIER = cloudedminds.Flicksy
PRODUCT_NAME = Flicksy
SPARKLE_FEED_URL = https:/$()/flicksy.me/updates/appcast.xml
SPARKLE_PUBLIC_ED_KEY = ckHwXME7JqLDwjpElDM/xhgZ6tGSvBQgCInPdp634Ao=
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DIRECT_DISTRIBUTION $(inherited)
